<div class="section">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <%= image_tag "about.png", width: "100%", alt: "About QuickRX" %>
            </div>
            <div class="col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-1 about_text small-gaps col-xs-10 col-md-4">
                <h1 class="about_h1">ABOUT US</h1>
                <p class="about-home-j">Quick RX is an American, community-based specialty pharmacy organization focused on providing the latest and most effective pharmaceutical therapies to those most vulnerable. Our team of expert pharmacists and technicians are highly trained to address and treat complex, rare and chronic conditions. These conditions include: Cancer, HIV/AIDS, Multiple Sclerosis (MS), Hepatitis, Dermatology conditions, and many other forms of illness. For the past 17 years our commitment has been to the residents of New York providing them with specialized treatment for chronic diseases accessible and affordable to all.</p>
                <br>
                <p class="about-home-j">Passionate about providing reliable and accessible healthcare for all, Elan Katz (LIU licensed pharmacist), founded Quick RX pharmacy in 2000. Now, for nearly two decades, Quick RX has served New Yorkers in all of their pharmacy needs. Providing more than just medication; Quick RX counsels their patients, caregivers and family members in order to provide long-term patient care and outstanding customer service. Our patients’ health and wellness is our top priority, which is why at Quick RX we are continuously developing innovative pharmaceuticals/ medication dispensaries and services. With over ten locations, the team at Quick RX rapidly delivers specialty medication right to our patients’ doorstep. As a newly accredited URAC pharamcy, we adhere to strict guidelines set for patient care to ensure all of our patients are being treated correctly and quickly for their condition. Visit us at one of our locations and let Quick RX assist you in your journey to recovery!</p>
            </div>
        </div>
    </div>
</div>
