<div class="section">
    <div class="container-fluid " id="contact">
        <div class="row">
            <div class="col-md-6 ">
                <div id="map"></div>
                <div id="map_overlay">
                </div>
            </div>
            <div class="col-md-6 small-gaps" id="form-box">
                <h1 class="contact_h1 pdt-5">CONTACT US</h1>

                <div class="col-md-6">
                    <p class="form_subhead">For more information please fill out your details and we will contact you shortly</p>
                    <%= render "layouts/contact" %>
                </div>
                <div class="col-md-6">
                    <h5 class="address_heading">QuickRX Headquater</h5>
                    <p>1642 Eastchester Rd.</p>
                    <p>Brooklyn, NY 10461</p>
                    <p>Telephone: 800-496-6111</p>
                    <div class="col-md-12 form-social">
                        <a href="#" class="social-icon-inverse"><i class="fa fa-twitter "></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-youtube-play"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-google-plus"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
