<div class="section">
    <div class="container-fluid" id="services">
        <div class="row">
            <div class="col-md-offset-0 col-lg-offset-2 col-sm-offset-1 col-xs-offset-1 services_text small-gaps col-xs-10 col-md-4">
                <h1 class="pdt-10">SERVICES</h1>
                <p>The pharmacy industry is continuously evolving, but at QuickRX we have made it our mission to be ahead
                    of the curve, constantly developing and providing high-quality formulations and extraordinary customer
                    service to both patients and healthcare practitioners.<br/> We do more than simply fill your prescriptions;
                    we offer a wide variety of concentrated care, treatments and medications to help you manage your
                    condition. We offer specialty medications to help treat chronic, rare and/or complex conditions.</p>
                <p>QuickRX pharmacies go above and beyond to convenience, professionalism and pharmaceutical resources to
                    give you the best individualized personal care possible. You can be sure that your information and
                    privacy is fully respected at all times.</p>
                <p> We take your time seriously, which is why we do everything we can to make your pharmacy experience convenient.
                    We help to remind you of refill dates to make sure you stay in line with your treatment plans, as
                    well as organize your medications for you so that they are ready at the same time.</p>
                <p> Have questions about your insurance or benefits? Need help finding financial assistance? We can help!
                    We will work with you and your insurance to help answer any questions you may have.</p>
                <p class="pdt-20"><b>We also offer...</b></p>
                <p>Fast, free same day delivery</p>
                <p>Lowest possible prices</p>
                <p>Patient adherence programs</p>
                <p>Hypertension testing</p>

                </p>
            </div>
            <div class="ol-xs-12 col-md-8 col-lg-6">
                <%= image_tag "services.png", width: "100%", alt: "Services of QuickRX" %>
            </div>
        </div>
    </div>
</div>
