<div class="row">
    <p class="article-no-display">#<%= @article %> .icon</p>
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>ECZEMA</h1>
        <br>

        <h4>What is Eczema?</h4>
        <p>
          Eczema, also referred to as Dermatitis, is a group of chronic skin conditions that can affect all ages. Eczema can cause the skin to become inflamed and itchy.  Dermatitis is brought on by a skin reaction. When Dermatitis becomes worse it is referred to as a “flare up”. There are many different types of eczema:
        </p>

        <ul>
          <li><b>Atopic Dermatitis-</b> the most common form of eczema. The Atopic Dermatitis eczema is caused by a skin reaction that leads to itching and inflammation. Atopic Dermatitis is common in infants. </li>
          <br>
          <li><b>Contact Dermatitis-</b> a form of eczema that causes red or inflamed skin due to direct contact with an irritant such as tight clothing.</li>
          <br>
          <li><b>Dyshidrotic Dermatitis-</b> also known as Dyshidrosis or Pompholyx, is eczema that causes blisters to develop on the hands and feet. The blisters caused by Pompholyx eczema are often filled with fluid and itchy. </li>
          <br>
          <li><b>Infantile Seborrhoeic-</b> this form of eczema, which is specific to newborns, is often called “Cradle Cap”. Infantile seborrhoeic dermatitis causes white or yellow scales to develop on the scalp which crust and flake off.</li>
          <br>
          <li><b>Adult Seborrhoeic-</b> Seborrhoeic Dermatitis for adults first develops as dandruff which if left unchecked eventually becomes itchy and scaly skin that can be of a yellow color. Adult Seborrhoeic Dermatitis can also affect the eyebrows, sides of the nose, and behind ears.</li>
          <br>
          <li><b>Asteatotic-</b> this form of dermatitis affects people who suffer from extremely dry skin. The dry skin of those who suffer from Asteatotic eczema often becomes abnormally dry, itchy, and cracked. Not heavily moisturizing the skin leads to flare ups </li>
          <br>
          <li><b>Varicose-</b> Varicose eczema is also known as Venous or Stasis Dermatitis. Stasis eczema or gravitational eczema is caused by fluid build-up which affects the lower legs.</li>
          <br>
          <li><b>Nummular Eczema-</b> also known as discoid eczema features ovular or coin shaped lesions on the skin. This form of eczema will sometimes occur after an injury. Nummular eczema sores are known to be itchy, ooze, and develop crusting.</li>
          <br>
        </ul>

        <h4>What are the symptoms of Dermatitis?</h4>

        <ul>
          <li>Allergies to mold, dust, pollen, and various etc.</li>
          <li>Cold and dry air can cause an eczema flare up</li>
          <li>An increase in temperature</li>
          <li>Excessive sweating</li>
          <li>Contact with irritants such as cleaning fluids</li>
          <li>Emotional stress</li>
          <li>Frequent hot baths and showers</li>
          <li>Sudden changes in temperature</li>
        </ul>

        <br>

        <h4>How do you get eczema?</h4>

        <p>Children are likely to develop dermatitis if their parents or other close family members have also suffered from the skin condition. Different factors, discussed in the symptoms section, can also cause a sudden outbreak of eczema.</p>


        <h4>Is it contagious?</h4>

        <p>Eczema is not contagious. Eczema cannot be transferred from one person to another through the exchange of bodily fluids, air, touch, etc.</p>


        <h4>Are there possible complications?</h4>

        <p>Scratching an eczema affected skin site can cause cuts. Damaged skin allows for infection by various viruses, fungi, or bacteria.</p>


        <h4>How is eczema diagnosed?</h4>

        <p>Dermatitis is diagnosed based on an examination by your doctor. Doctors will look at the condition of the skin and ask if you have a family history of eczema.</p>


        <h4>How is eczema treated?</h4>

        <p>There are many different treatments used to fight eczema. Some of which include:</p>

        <ul>
          <li><b>Meditation -</b> taking the time to meditate during the day can help those suffering from eczema</li>
          <br>
          <li><a href="https://www.dupixent.com/">DUPIXENT® (dupilumab)</a>- a new FDA certified treatment that has provided promising results to patients who have lived with dermatitis for years.</li>
        </ul>

        <br>

        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
