<div class="row">
    <p class="article-no-display">#<%= @article %> .icon</p>
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>GASTROENTEROLOGY</h1>
        <br>

        <h4>What is Gastroenterology?</h4>
        <p>Gastroenterology is a group of medicines dedicated to the treatment of digestive diseases. Gastroenterology focuses on treating problems with the digestive system which includes the stomach,  esophagus, small and large intestines (colon), liver, gallbladder, pancreas, bile ducts, and rectum. Specialists trained in depth in the use of Internal Medicine and are thus knowledgeable in treating diseases or disorders of the digestive system are called Gastroenterologist, Gastrointestinal doctors or GI. Gastroenterologists are frequently called when a patient is experiencing systems that lead to an unclear diagnosis or when a patient must take part in specialized diagnostic procedures.</p>

        <p><b>Transmission of Hepatitis C:</b></p>
        <p>The HCV disease is most commonly transmitted through the sharing of needles required for drug use. Hep C can also be transmitted, less commonly, through receiving a blood of organ donation. HCV is transmitted from mother to child during birth. Hep C can also be transmitted through sexual interaction with an infected person.</p>

        <p><b>So What Do GI's Treat?</b></p>
        <p>GIs are called upon to treat conditions such as but not limited to:
          <ul>
            <li>Abdominal pain</li>
            <li>Constipation</li>
            <li>Crohn’s disease</li>
            <li>Esophageal Reflux</li>
            <li>Gastritis</li>
            <li>Malabsorption</li>
            <li>Jaundice</li>
            <li>Liver disease</li>
            <li>Vomiting</li>
            <li>Ulcers</li>
            <li>Diarrhea</li>
            <li>Colon cancer</li>
            <li>Heartburn</li>
          </ul>
        </p>

        <p><b>Treatment:</b></p>
        <p>Medications used to treat diseases or disorders of the digestive system include:
          <ul>
            <li>CIMZIA®</li>
            <li>HUMIRA®</li>
            <li>REMICADE®</li>
            <li>SIMPONI®</li>
            <li>STELARA®</li>
            <li>XIFAXAN</li>
            <li>ENTYVIO™</li>
          </ul>
        </p>

        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
