<div class="row">
    <p class="article-no-display">#<%= @article %> .icon</p>
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>HUNTINGTONS DISEASE</h1>
        <br>

        <h4>What is Huntington’s disease?</h4>
        <p>Huntington’s disease (HD) is a neurodegenerative disease that results in the progressive breakdown of the brain’s nerve cells. As HD destroys nerve cells, it deteriorates a person’s physical and mental capabilities. The more the huntingtin or HTT gene sequence repeats in an individual’s genetic code the more present the disorder. Generally, those with Huntington’s disease develop symptoms between 30 and 40 years of age. When the disease emerges earlier in life, before the age of 20, the condition is called juvenile Huntington’s disease.
        </p>

        <h4>Who is at Risk?</h4>

        <p>
          Every child with a parent that carries the huntingtin gene is at risk of having Huntington’s disease. Huntington’s disease is a family disease due to the gene having a 50% chance of being passed on to a carrier’s child.
          <br>
          Huntington’s disease cannot be passed on by means outside of being a descendant of a carrier and thus is noncontagious.
        </p>

        <h4>What are the symptoms of Huntington’s disease?</h4>

        <p>
          <ol>
            <li>
              <b>Movement Disorders</b>
              <br>
              <ul>
                <li>Chorea - involuntary jerking or writhing movements</li>
                <li>Dystonia - involuntary muscle spasms, rigidity, or contracture</li>
                <li>Impaired posture and balance</li>
                <li>Difficulty with physically producing speech</li>
                <li>Difficulty swallowing</li>
              </ul>
            </li>
            <br>
            <li>
              <b>Cognitive Disorders</b>
              <br>
              <ul>
                <li>Difficulty prioritizing or focusing on tasks</li>
                <li>Perseveration - inappropriate recurrence of one thought, behavior, or action</li>
                <li>Lack of impulse control</li>
                <li>Sexual promiscuity</li>
                <li>Slowness in processing words</li>
                <li>Difficulty learning and understanding new information</li>
                <li>Lack of self-awareness </li>
              </ul>
            </li>
            <br>
            <li>
              <b>Psychiatric Disorders</b>
              <br>
              <ul>
                <li>Irritability</li>
                <li>Sadness</li>
                <li>Apathy</li>
                <li>Social withdrawal</li>
                <li>Insomnia</li>
                <li>Suicidal thoughts</li>
                <li>Obsessive-compulsive disorder</li>
                <li>Mania</li>
                <li>Bipolar disorder</li>
              </ul>
            </li>
          </ul>
        </ol>

        <h4>What are the Symptoms of Juvenile Huntington’s Disease?</h4>

        <ol>
          <li>
            <b>Behavioral changes</b>
            <ul>
              <li>Loss of learned skills (academic or physical)	</li>
              <li>Development of behavioral problems</li>
            </ul>
          </li>
          <br>
          <li>
            <b>Physical changes</b>
            <ul>
              <li>Dystonia - involuntary muscle spasms, rigidity, or contracture</li>
              <li>Deterioration of fine motor skills</li>
              <li>Seizures</li>
            </ul>
          </li>
        </ol>

        <h4>What Treatments are Available for Huntington’s Disease?</h4>

        <p>
          At the present moment, there is no cure for Huntington’s disease. However, medications can significantly lessen movement and psychiatric disorders caused by HD. Some medications known to treat Huntington's disease are:

          <ul>
            <li><a href="http://www.xenazineusa.com/">XENAZINE®(Tetrabenazine)</a></li>
            <li><a href="https://www.austedo.com/?utm_content=Brand_Info_Exact&gclid=CjwKEAjwrO_MBRDxgqLa-LX041QSJABgmcMs32g8mwsTX7FHdZXXfx5N7gc2LsusjtSrgCyvlv1cPxoCfGPw_wcB&gclsrc=aw.ds">AUSTEDO™(Deutetrabenazine)</a></li>
          </ul>
        </p>

        <p>
          Along with medicinal assistance, there are diet changes that can be implemented to promote brain health during the at-risk early stages of HD. Eating foods high in vitamin B12, antioxidants, and essential fatty acids can help to nourish the brain. Speech and language therapies are options that assist in alleviating symptoms that affect speech and language.
        </p>

        <p>For more information on Huntington’s disease contact your medical provider.</p>
        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
