<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>HEPATITIS C</h1>
        <br>

        <h4>What is Hepatitis C?</h4>
        <p>Hepatitis C (Hep C or HCV) is a virus that is transmitted through contact with the blood of an infected person. Hepatitis C is a direct cause of liver disease. Although for some Hep C can be a virus that infects the body for a short period of time; for most of the population HCV can develop into a life-lasting and chronic infection or cause death. Unlike Hepatitis A and B, there is currently no vaccine available to prevent Hepatitis C. There are, however, viable treatment options to promote health and longevity in HCV carriers.</p>

        <p><b>Transmission of Hepatitis C:</b></p>
        <p>The HCV disease is most commonly transmitted through the sharing of needles required for drug use. Hep C can also be transmitted, less commonly, through receiving a blood of organ donation. HCV is transmitted from mother to child during birth. Hep C can also be transmitted through sexual interaction with an infected person.</p>

        <p><b>The symptoms of Hepatitis C:</b></p>
        <p>Hepatitis C symptoms can take years to become visible. Many infected people do not know that they are carriers of HCV until late into adulthood. Be sure to look out for Hep C infection symptoms such as:
          <ul>
            <li>Easily bleeding</li>
            <li>Yellowing of the eyes or skin (jaundice)</li>
            <li>Nausea</li>
            <li>Urine of unnaturally dark color</li>
            <li>Stomach pains</li>
            <li>Loss of appetite</li>
            <li>Drowsiness</li>
            <li>Weight loss</li>
            <li>Fatigue</li>
            <li>Swelling of the legs</li>
            <li>Confusion</li>
            <li>Itchy skin</li>
          </ul>
        </p>

        <p><b>Treatment:</b></p>
        <p>The original treatments for Hepatitis C infection required those infected with Hep C to receive injections on a weekly basis while taking oral medications that often caused unhealthy side effects. Due to the advancements of current medications, those suffering from Hepatitis C have an array of viable treatment options. Receiving Hepatitis C treatments will quickly help to ease the discomfort of the effects of HCV.
        </p>

        <p><b>Medications known to treat the Hepatitis C infection are:</b></p>
        <p>
          <ul>
            <li><b>Harvoni:</b> often used to treat chronic Hep C infections. Those who treat HCV with Harvoni are usually prescribed a once a day tablet treatment regime.</li>
            <br>
            <li><b>Sovaldi:</b> can be used in conjunction with other Hepatitis C disease fighting medications. Sovaldi helps your immune system fight the virus while also helping to avoid the transmission of the Hepatitis C disease.</li>
            <br>
            <li><b>Zepatier:</b> used to help your immune system to fight the Hep C virus. Zepatier is a once a day pill treatment.</li>
            <br>
            <li><b>Infusion Therapy: is another viable treatment option to fight HCV. Infusion Therapy is administered to Hepatitis C infected patients through the use of intravenous infusions (IV).</b></li>
          </ul>
        </p>
        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
