<div class="row">
    <p class="article-no-display">#<%= @article %> .icon</p>
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>HEPATITIS B</h1>
        <br>

        <h4>What is Hepatitis B?</h4>
        <p>Hepatitis B also known as hep B of HBV is a disease affecting the liver that is caused by the hepatitis B virus. Hep B is spread through contact with bodily fluids from an HBV infected person. People can become infected with hepatitis B through sexual intercourse, drug use that includes sharing syringes or other shared paraphernalia equipment, tattoo needles, and items such as razors and toothbrushes.<br>An infected person can experience either acute or chronic hepatitis B. Symptoms from acute HBV can last anywhere between a few weeks to six months. Those who are infected with chronic HBV are those who test positive for the virus for over six months.
        </p>

        <p><b>Symptoms of Hepatitis B include:</b></p>

        <p>
          <ul>
            <li>Dark urine</li>
            <li>Abdominal pain</li>
            <li>Loss of appetite</li>
            <li>Light-colored stools</li>
            <li>Nausea</li>
            <li>Weakness</li>
          </ul>
        </p>

        <p><b>Treatment:</b></p>

        <p>Luckily, for those infected with hepatitis B, there are many specialty medications that can be used to treat a Hep B infection such as:
          <ul>
            <li>VIEKIRA XR™</li>
            <li>MAVYRET™</li>
            <li>VEMLIDY®</li>
            <li>Baraclude®</li>
            <li>EPIVIR-HBV®</li>
            <li>HEPSERA®</li>
            <li>INTRON® A</li>
            <li>PEGASYS®</li>
          </ul>
        </p>

        <p><b>For more information on ways to diagnose and treat an HBV Infection speak with your medical provider.</b></p>

        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
