<div class="row">
    <p class="article-no-display">#<%= @article %> .icon</p>
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>HIV</h1>
        <br>

        <h4>What is HIV?</h4>
        <p>The Human immunodeficiency virus, more commonly referred to as HIV is a virus that attacks the immune system thus inhibiting the body’s natural defense against other infections and illnesses. HIV accomplishes this by attacking the CD4 (T-helper) cells, a specific white blood cell which helps the immune system fight off infections, and then creating copies of itself within the cell. If left untreated HIV can lead to acquired immunodeficiency syndrome or AIDS. AIDS is the most severe phase of an HIV infection. HIV is declared to have escalated to AIDS when an infected person’s immune system is suffered so much damage that they suffer from additional severe illness.
        </p>
        <p>HIV is a life-threatening disease, and although there are many treatments, they are costly. Our pharmacies work to serve patients suffering from HIV by education others concerning the virus and partaking in the 340B partnership that can lower the costs of effective specialty medications. </p>
        <br>

        <p>
          <b>Specialty medications which treat the HIV virus are:</b>
          <ul>
            <li>Agenerase®</li>
            <li>Aptivus®</li>
            <li>Crixivan®</li>
            <li>Invirase®</li>
            <li>Kaletra®</li>
            <li>Lexiva®</li>
            <li>Norvir®</li>
            <li>Prezista®</li>
            <li>Reyataz®</li>
            <li>Valcyte®</li>
            <li>Viracept®</li>
          </ul>
        </p>

        <p><b>For more information, contact your medical provider to discuss the best course of action for treating HIV or an HIV/AIDS specific information hotline below:</b></p>
          <ul>
            <li><b>CDC National AIDS Hotline: (800) CDC-INFO (800-232-4636)</b></li>
            <li><b>AIDS Clinical Trials Information Service: (800) 874-2572</b></li>
            <li><b>HIV Health InfoLine: (800) 822-7422</b></li>
            <li><b>GMHC HIV/AIDS Hotline: (800) 243-7692</b></li>
            <li><b>HIV Nightline: (800) 628-9240</b></li>
          </ul>

          <br>

        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
