<div class="row">
    <p class="article-no-display">#<%= @article %> .icon</p>
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>IMMUNODEFICIENCY</h1>
        <br>

        <h4>What is Immunodeficiency?</h4>
        <p>The immune system protects the body from antigens which include bacteria, toxins, cancer cells, viruses, and foreign blood or tissues. However, sometimes the immune system is weakened and is unable to protect the body effectively. This is referred to as Immunodeficiency.</p>
        <p>
          When the immune system detects antigens, it reacts by producing proteins known as antibodies and activates a process called phagocytosis. During phagocytosis, specific white blood cells will swallow and destroy foreign substances. Often, Immunodeficiency disorders occur when the special white blood cells that swallow antigens do not function normally.
        </p>

        <p><b>What causes Immunodeficiency?</b></p>
        <p>
          Immunodeficiency can be a result of taking medications, illness, or genetic disorder known as primary immunodeficiency or PI. There are hundreds of different immunodeficiency disorders but not all are life threatening. Some immunodeficiency disease may be mild and can go unnoticed unless a patient contracts a serious infection. More serious immunodeficiencies, such as HIV, have very apparent symptoms and are sometimes fatal.
        </p>

        <p><b>What are some different kinds of immunodeficiency disorders?</b></p>
        <ul>
          <li>B cell (antibody) deficiencies</li>
          <li>Combination B and T cell deficiencies</li>
          <li>Complement deficiencies</li>
          <li>Defective phagocytes</li>
          <li>T cell deficiencies</li>
          <li>Unknown (idiopathic)</li>
        </ul>

        <br>

        <p><b>What are the symptoms of Immunodeficiency?</b></p>
        <ul>
          <li>Infections that are recurring or do not go away such as pneumonia or yeast infections</li>
          <li>Development of severe infections caused by bacteria that do not usually cause serious infections</li>
          <li>Poor responses to treatment infections</li>
          <li>Delayed recovery or inability to recover from illness</li>
          <li>Issues with body parts and functions including the throat, ears, sinuses and digestive tract</li>
        </ul>

        <br>

        <p>If you believe you have an immunodeficiency disorder you can prepare for a talk with your doctor by:</p>
        <ul>
          <li>Collecting copies of your medical records and test results</li>
          <li>Keeping track of your symptoms</li>
          <li>Asking family members about their medical history</li>
        </ul>

        <br>

        <p>
          <b>How is Immunodeficiency treated?</b>
          <br>
          Immunoglobulin therapies- (IG therapy)  the injection of antibodies which have been extracted from the plasma of donors to ensure that a broad array of antibodies are given to the patient. This treatment can be taken along with immunosuppressants or other medications.
          <br>
          <ul>
            <li>Intravenous Immune Globulin (IVIg) Therapies</li>
            <li><a href="http://www.cslbehring-us.com/products/Carimune.htm">Carimune® NF</a></li>
            <li><a href="http://www.grifols.com/en/web/eeuu/bioscience/-/product/flebogamma_5_dif">Flebogamma® 5% DIF</a></li>
            <li><a href="http://www.grifols.com/en/web/eeuu/bioscience/-/product/flebogamma_10_dif">Flebogamma® 10% DIF</a></li>
            <li><a href="http://www.gammagard.com/primary-immunodeficiency/patient/">Gammagard® Liquid</a></li>
            <li><a href="http://www.gammaked.com/">Gammaked™</a></li>
            <li><a href="http://www.octagamus.net/">Octagam®</a></li>
            <li><a href="http://www.privigen.com/">Privigen®</a></li>
            <li><a href="">Subcutaneous Immune Globulin (SCIg) Therapies</a></li>
            <li><a href="http://www.cuvitru.com/">Cuvitru™</a></li>
            <li><a href="http://www.gammagard.com/primary-immunodeficiency/patient/">Gammagard® Liquid</a></li>
            <li><a href="https://www.gamunex-c.com/en/hcp">Gamunex®-C</a></li>
            <li><a href="https://www.hizentra.com/">Hizentra®</a></li>
            <li><a href="http://www.hyqvia.com/">HyQvia™</a></li>
          </ul>
          <br>
          Gamma Interferon therapy-  a synthetic substance administered by injection.  Gamma Interferon therapy is used to treat a form of primary immunodeficiency called granulomatous disease.
          <br>
          <br>
          Growth Factor therapy- is used when the form of immunodeficiency a patient has is directly caused by a lack of white blood cells. Growth factor therapy helps to increase the amount of immune-strengthening white blood cells.
        </p>
        <br>
        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
