<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>MULTIPLE SCLEROSIS</h1>
        <br>

        <h4>What is Multiple Sclerosis?</h4>
        <p>Multiple Sclerosis, more commonly known as MS, is a chronic disease of the spinal cord and brain, which attacks the central nervous system. MS disrupts communication between the brain and the body as the immune system begins to erode nerve fibers that cover the spinal cord. Some symptoms of multiple sclerosis are, but not limited to, loss of vision, impaired coordination, chronic pain, and fatigue. Symptoms of MS vary on a case-to-case basis and most patients begin to experience these symptoms after the age of fourteen.</p>
        <p>Though this chronic disease is not curable, there are many forms of MS treatments and MS medications available to the public. Some MS treatments include chemotherapy, which kills cells that multiply too quickly, and steroid use, which reduces inflammation so tissue can be repaired. Other multiple sclerosis treatments are less invasive such as physical therapy, which can be done with a physical therapist or alone in the comfort of one’s home for 20-30 minutes a day. Group counseling educates newly diagnosed patients on their options and offers support and a community. Acupuncture is also commonly used as a form of pain relief and a relaxation technique.
        </p>
        <p>Wonderful new multiple sclerosis medications have been introduced to help with symptoms and reduce the progression of MS. Our pharmacy offers counseling and education about any of the following MS medications to ensure full comprehension of drugs used to fight MS. The following medications are FDA certified and offered at our pharmacy for your consumption:
          <ul>
            <li>AMPYRA</li>
            <li>AVONEX</li>
            <li>BETASERON</li>
            <li>COPAXONE</li>
            <li>EXTAVIA</li>
            <li>GILENYA</li>
            <li>REBIF</li>
          </ul>
        </p>

        <p><b>If you or your loved ones have any further questions about multiple sclerosis, please call this toll free information line 1-800-532-7667.</b></p>

        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
