<div class="row">
  <p class="article-no-display">#<%= @article %> .icon</p>
    <div class="col-lg-4 col-md-3 col-sm-7 ">
        <div class="profile-box">
            <%= image_tag "card.png", width: "100%" %>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
        <h1>RHEUMATOID ARTHRITIS</h1>
        <br>

        <h4>What is Rheumatoid Arthritis?</h4>
        <p>
          Rheumatoid Arthritis or RA is a disease of the joints.Rheumatoid arthritis is the most common form of autoimmune arthritis. RA is characterized as an autoimmune disease because a person with RA’s immune system is not functioning normally by assisting in the protection of the body from infections and disease. It is instead attacking the joint tissues for unknown reasons.
        </p>

        <p>
          RA is most common in the wrists and fingers and is known to affect women more often than men. Symptoms usually develop around the age of thirty. The disease can be present for a short time or come and go. The most severe forms of rheumatoid arthritis lasts a lifetime.
        </p>

        <h4>How does someone develop Rheumatoid Arthritis?</h4>

        <p>
          The exact cause of rheumatoid arthritis is unknown but some scientists believe the disease is connected to genes, environmental factors, and hormones.
        </p>

        <h4>How is Rheumatoid Arthritis diagnosed?</h4>

        <p>
          RA is diagnosed through the examination of a blood test, an examination of the joints and organs, and by using x-ray or ultrasound imaging. There is no specific test to diagnose Rheumatoid Arthritis. When a blood test is used to check for RA, the sample is checked for antibodies that can be seen in patients with rheumatoid arthritis.
        </p>

        <p><b>Abnormal blood tests observed in samples from patients with RA include:</b></p>

        <ul>
          <li>Anemia</li>
          <li>Elevated erythrocyte sedimentation rate</li>
          <li>Rheumatoid factor antibody</li>
        </ul>

        <h4>What are the symptoms of Rheumatoid Arthritis?</h4>

        <ul>
          <li>Anemia</li>
          <li>Both sides of the body affected (symmetric)</li>
          <li>Fatigue</li>
          <li>Fever</li>
          <li>Joint deformity</li>
          <li>Joint pain</li>
          <li>Joint redness</li>
          <li>Joint stiffness</li>
          <li>Joint swelling</li>
          <li>Joint tenderness</li>
          <li>Joint warmth</li>
          <li>Limping</li>
          <li>Loss of joint function or range of motion</li>
          <li>Many joints are affected (polyarthritis)</li>
        </ul>

        <h4>How is Rheumatoid Arthritis treated?</h4>

        <p>There is no cure for RA. The goal of undergoing treatment is to slow down or completely stop joint damage, improve joint pain, swelling, and the patient’s ability to take part in daily activities. Treatments for rheumatoid arthritis include lifestyle changes, medication, and surgery. Treating rheumatoid arthritis can slow or completely stop joint damage and reduce pain and swelling.</p>

        <p>
          <b>Lifestyle Changes:</b>
          <ul>
            <li>Health conscious diet</li>
            <li>Joint care</li>
            <li>Rest and exercise balance</li>
            <li>Stress reduction</li>
          </ul>
          <br>
          <b>Medications:</b>
          <ul>
            <li><a href="http://www.actemra.com/" target="_blank">ACTEMRA®</a></li>
            <li><a href="https://www.actharrheumatology.com/" target="_blank">ACTHAR®</a></li>
            <li><a href="http://www.benlysta.com/" target="_blank">BENLYSTA®</a></li>
            <li><a href="http://www.cimzia.com/" target="_blank">CIMZIA SUPPORT®</a></li>
            <li><a href="https://www.enbrel.com/" target="_blank">ENBREL®</a></li>
            <li><a href="http://www.forteo.com/" target="_blank">FORTEO®</a></li>
            <li><a href="http://www.humira.com/" target="_blank">HUMIRA®</a></li>
            <li><a href="https://www.kevzara.com/" target="_blank">KEVZARA®</a></li>
            <li><a href="http://www.orencia.com/" target="_blank">ORENCIA®</a></li>
            <li><a href="http://www.otezla.com/" target="_blank">OTEZLA®</a></li>
            <li><a href="http://www.proliahcp.com/" target="_blank">PROLIA®</a></li>
            <li><a href="http://www.simponi.com/" target="_blank">SIMPONI®</a></li>
            <li><a href="http://www.stelarainfo.com/" target="_blank">STELARA®</a></li>
            <li><a href="http://www.xeljanz.com/" target="_blank">XELIJANZ®</a></li>
          </ul>
          <br>
          <b>Surgery:</b>
          <ul>
            <li>Arthroplasty - the affected joint is reconstructed or replaces.</li>
            <li>Arthroscopy - an endoscope is inserted and used to remove the damaged and inflamed tissue from the affected joint. </li>
            <li>Hand or wrist surgery</li>
            <li>Nerve decompression - a surgery used to relieve pressure and alleviate pain caused by rheumatoid arthritis.</li>
          </ul>
        </p>
        <br>
        <%= link_to "Download A Referral Form", enrollment_path, class: "btn btn-default btnsubmit enrollment-trick" %>
    </div>
</div>
