<div class="section-footer">
    <div class="container-fluid" id="footer">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1 col-sm-11">
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-sm-5">
                    <%= image_tag "logo.png", height: "50px", alt: "QuickRX" %>
                    <div class="contact_info">
                        <p>CONTACT US:</p>
                        <p>1642 Eastchester Rd.</p>
                        <p>Brooklyn, NY 10461</p>
                        <p>Telephone: 800-496-6111</p>
                    </div>
                    <a href="#" class="social-icon-straight"><i class="fa fa-twitter "></i></a>
                    <a href="#" class="social-icon-straight"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon-straight"><i class="fa fa-youtube-play"></i></a>
                    <a href="#" class="social-icon-straight"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon-straight"><i class="fa fa-google-plus"></i></a>
                </div>

                <div class="col-sm-6">
                    <ul class="pdt-10">
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">OUR SPECIALTIES</a></li>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">LOCATION</a></li>
                        <li><a href="#">CONTACT US</a></li>

                    </ul>
                    <div class="newsletter">
                        <p><b>Register For Our Newsletter</b></p>
                        <p>Stay up to date with latest news from our company</p>
                        <p>We promise we won’t spam you.</p>
                        <form class="form-inline">
                            <div class="form-group" id="subscription">
                                <label for="newsletter" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="newsletter" placeholder="Email">
                            </div>
                            <button type="submit" class="btn btn-default btnsubmit">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="copyright">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <p class="col-md-offset-1">QUICKRX 2017.COPYRIGHT. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
