<div class="container-fluid hidden-xs hidden-sm">
    <ul class="top_nav">
        <li><a href="#">Provider Login</a></li>
        <li><a href="#">Enrollment Forms</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>
