<div class="container-fluid hidden-xs hidden-sm">
    <ul class="top_nav">
        <li><a href="#">Provider Login</a></li>
        <li><%= link_to "Enrollment Forms", enrollment_path %></li>
    </ul>
</div>
