<div class="container-fluid hidden-xs hidden-sm">
  <div class="col-md-12">
    <ul class="top_nav">
      <li><a href="#">Provider Portal</a></li>
      <li><a href="#">Patient Portal</a></li>
      <li><%= link_to "Enrollment Forms", enrollment_path %></li>
    </ul>
  </div>
</div>
