<div class="row col-md-6 style-nav-icons">
    <div class="margin-left-40">
        <div class="col-md-1 logo-item">
          <a href="http://naspnet.org/" target="_blank">
            <%= image_tag "logo2.png" %>
          </a>
        </div>
        <div class="col-md-1 logo-item">
          <a href="https://accreditnet2.urac.org:443//uracportal/Directory/CompanyView/3993" target="_blank">
            <%= image_tag "logo3.png" %>
          </a>
        </div>
        <div class="col-md-1 logo-item">
          <a href="https://www.bbb.org/" target="_blank">
            <%= image_tag "logo-b.png" %>
          </a>
        </div>
        <div class="col-md-1 logo-item">
          <a href="http://cureurgentcare.com" target="_blank">
            <%= image_tag "logo-cure.png" %>
          </a>
        </div>
    </div>
</div>
